.btn-primary{
  &:hover{
    background-color: white;
    color: black;
        background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
  }
}
.tab-form{
  .btn-default{
    background-color: #ddb448;
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }

}

.btn-default{
  background-color: #ddb448;
  color: white;
  font-weight: lighter;
  border: none;
}

a.btn-primrary{
  margin-top: 15px;
  display: inline-block;
  background-color: #ddb448;
  color: white;
  padding:19px;
  border-radius: 3px;
      font-size: 13px;

  span.glyphicon.glyphicon-file {
    padding-right: 15px;
}


}
