.btn-primary{
  &:hover{
    background-color: white;
    color: black;
        background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
  }
}
.tab-form{
  .btn-default{
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }

}

.btn-default{
  background-color: orange;
  color: white;
  font-weight: lighter;
  border: none;
}
