body{

  .lightbox{

    .lb-outerContainer{
      overflow: hidden;
    }

  .lb-dataContainer {
    background: rgba(132, 132, 132, 0.8);
    position: relative;

  }

  //Close container
  .lb-closeContainer{
    position: absolute;
    display: block;
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    z-index: 999;
    .lb-close{

      color: white;



    }


  }


  .lb-number{
    display: none!important;
  }

  .lb-details{
    padding: 19px;
    h3{
      color: white;
      margin-top: 0px;
      }

      p{
            color: #e2e2e2;
      }
  }

  }

@media (max-width: 991px){
  #flowers-list{
    .vara-box-pic{
      height: 120px;
    }
  }
}

@media (max-width:845px){
  #flowers-list{
    .vara-box-pic{
      height: 200px;
    }
  }
}
  .flower-car{
    img{
        height: 180px;
    }
    h3{
      margin: 0px;
      font-size: 14px;
    }
  }

  .tab-form{
    margin-top: 10px;
  }
}
