body{


  .priser-content{
    margin-top: 110px;
    padding-top: 0px;
  }


  .no-header{
  	.priser-content{
		margin-top: 0px;
  	}
  }

  .page-top.begra{
  	margin-top: 35px;
  }



  }

  .page-template-tjanster{

    .inner-page{
  	margin-top: 35px;
  }


  }

