.begra {

h1{
  color: #cb971e;
  font-family: 'GothamBook_8';
  margin-bottom: 30px;
}

h2{
  color: #cb971e;
  font-family: 'GothamBook_8';
}

}

.priser-content{
  padding-top: 30px; 

  .law-image{
    width: 20%;
    min-height: 290px;
    float: left;
    min-height: 340px;
  }

}
