
@import "variables";

@import 'buttons';

@import 'katalog';

@import 'tjanster';

@import 'priser';

body{

@import 'header';


p{
  color: $standardTextColor;
}


  a{
    color:black;


  }

  .banner{
    .item{
      width: 100%;
      float: none;
    }
  }

  .thank-text{
    h2 {
    color: #3c3c3c;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'GothamMedium_6';
    margin: 0 0 35px;
}
    p{
      text-align: left;
    }
  }

  .vara-box-pic{

    background-color: white;

  }

  .vara2{
    img{
      height: auto;
      width: 100%;
    }
  }
.project-outer{
  .project-box{
    min-height: 450px;
  }
}
.project-inner.pro-marg {
    min-height: 688px;
}

.item{
  width:33%;
  float: left;
}


div#top-text{
  width: 100%;
}

.right_contact_field{
  width: 100%;
}

.priser-txt h3{
  margin-top: 0px;
}

#kontor-tab{
  h3{
      font-family: 'GothamMedium_6';
  }

  #hembesok{

  }
}

#om-oss-content{
.project-box{
br{
  margin: 20px 0px;
  display: block;
}
}
}

}

div.row{
  h3.subheding
  {
      background-color: #ddb448;
      color: white;
  }

  input.wpcf7-form-control.wpcf7-submit.btn.btn-gold{
    background-color: #ddb448;
    color: white;
  }

}



.btn-primary{
	background-color: #e5a600;
	border-color: #e8e8e8;
	background-image: linear-gradient(to bottom,#e0ba5d 0,#e5a600 100%);
}

.law-image {
    position: relative;
    background-size: contain;
    background-position: top;

    img{
      width: 100%;
      height: auto;
    }

    .kontakt-text-wrap{

      position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
text-align: center;
/* height: 60px; */
background-color: white;
border: 1px solid #e6e6e6;
border-top: 3px solid #cb971e;
padding: 9px;


    .kontakt-title{
      h4{
        margin: 10px 0px;
        color: black;
        font-size: 16px;
        font-weight: bold;
        margin-top: 0px;
      }

          }

      .kontakt-number{
        p{
          display: block;
          color: black;
          font-size: 16px;
        }
      }

  }
}

@import "laptop";
@import "responsive";
